In [26]:
import numpy as np
import pandas as pd
from numpy.random import randn
#Multi index and index-hierarchy

In [27]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) #zip turns the elements in the lists into tuple pairs
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [28]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [30]:
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

In [33]:
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [34]:
df.loc['G1'].loc[1]

A    0.188695
B   -0.758872
Name: 1, dtype: float64

In [35]:
df.index.names

FrozenList([None, None])

In [36]:
df.index.names = ['Groups', 'Num']

In [37]:
df

                   A         B
Groups Num
G1     1    0.188695 -0.758872
       2   -0.933237  0.955057
       3    0.190794  1.978757
G2     1    2.605967  0.683509
       2    0.302665  1.693723
       3   -1.706086 -1.159119

In [42]:
df.loc['G1'].loc[1]['A']

0.18869530944922425

In [47]:
df.xs('G1')

            A         B
Num
1    0.188695 -0.758872
2   -0.933237  0.955057
3    0.190794  1.978757

In [48]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.188695 -0.758872
G2      2.605967  0.683509